# Environnement JetBrains
.idea

# Environnement virtuel python
.venv
src/__pycache__
**/airflow_venv

# Fichiers de verrouillages office
**/.~lock*

# Secrets
.env

# Fichiers db et logs
db/stg_data
logs/